@media screen and (max-width: 850px){

    header{width: 100%; padding: 0 20px; position: fixed; background: #0c0c0c; z-index: 99;}
    header h1{width: 60%; height: 100%;}
    header h1 img{width: 100%; height: 100%; object-fit: contain; }

    nav{display: none;}

    .header_mobile_menu{display: none; position: absolute; top: 100px; left: 50%; transform: translateX(-50%); color: #fff; font-size: 1.5em; font-weight: bold; background: #313131c2; width: 100%; text-align: center;}
    .header_mobile_menu>ul>li>a{display: block; width: 100%; padding: 28px;}
    .header_mobile_menu>ul>li>a:hover{background: #cccccc2c;}

    .header_hamberger{display: block; position: absolute; right: 20px; top: 50%; transform: translateY(-50%); font-size: 1.6em; color: #fff;}
    .header_hamberger_close{display: none; position: absolute; right: 20px; top: 50%; transform: translateY(-50%); font-size: 1.6em; color: #fff;}

    .main{height: 100vh;}
    .main_title h2{font-size: 3em;}
    .main_title p{font-size: 1em;}

    .aboutme_space{width: 100%; text-align: center;}
    .aboutme_space h1{font-size: 2.4em; padding: 100px 20px;}

    .aboutme{width: 100%;}
    .aboutme_box{display: block; width: 100%; padding: 0 20px;}

    .intro_showtxt{display: none;}
    .intro_hidetxt{display: block;}

    .intro_box{background: none; border: 0; border-radius: 0; width: 100%;}
    .intro_box h2{padding: 0; font-size: 1em;}
    .intro_box p img{width: 20%; object-fit: cover; padding: 40px 0 40px;}
    .intro_box table{font-size: 0.9em;}
    .intro_box table td{padding: 10px; text-align: right; width: 90px;}
    .intro_box table th{width: 150px;}

    .license_box{height: auto; width: 100%; text-align: left;}
    .license_box h1{font-size: 2.4em; padding-top: 100px; padding-bottom: 0;}

    .licen{font-size: 0.9em; padding: 60px 0;}
    .dot:before{content: "⋅"; padding: 10px; font-weight: bold;}

    .license_box h2{font-size: 2em; padding-top: 0; padding-bottom: 60px;}

    .skills{width: 100%; gap: 5px;}
    .skills li{background: rgba(255,255,255,.2); border-radius: 50%; width: 80px; height: 80px; border: 1px solid #313131; text-align: center; display: flex; justify-content: center;
    align-items: center;}
    .skills li img{width: 50%; height: auto; object-fit: cover; padding-top: 2px; margin: 0;}

    .project_space{width: 100%; text-align: center;}
    .project_space h1{font-size: 2.4em; padding: 100px 20px;}

    .project{width: 100%; height: 1300px; padding: 0 20px;}

    .tabmenu{padding-top: 0; white-space: nowrap;}
    .tabmenu>li{display: inline-block; width: 400px; height: auto; padding-left: 5px; padding-right: 5px;}
    .tabmenu>li.on>h1>a{background: rgba(255,255,255,.5); border-radius: 10px;}
    .tabmenu>li>h1>a{display: block; text-align: center;  font-size: 0.55em; font-weight: 400; padding: 10px;}

    .tabcon{width: 100%; height: auto; padding-top: 60px;}
    .tabcon>ul{display: inline-block; padding: 0 20px; width: 100%;}

    .monitor{width: 100%; height: auto; background: #fff; border-radius: 30px;}
    .monitor img{width: 80%; object-fit: cover;}

    .tabcontext{text-align: center; width: 100%; height: auto; padding: 60px 0 0 0;}
    .tabcontext h1{font-size: 1.8em; padding-bottom: 60px; font-weight: 500;}
    .tabcontext p{font-size: 1em; font-weight: 300; padding-bottom: 60px;}

    .tabcon_text_button li a{display: block; font-size: 1.1em; font-weight: 300; background: rgba(255,255,255,.2); width: 100%; padding: 15px; border-radius: 30px; border: 1px solid #313131;}

    .tabcon_text_button li a:hover,
    .tabcon_text_button li:focus a{background: rgba(255,255,255,.1);}

    .design_space{width: 100%; text-align: center;}
    .design_space h1{font-size: 2.4em; padding: 100px 20px;}

    .design{padding-top: 10px; padding-bottom: 100px;}

    .swiper{width: 100%; height: auto;}
    .swiper li{width: 70%; height: 600px;}
    .swiper li a{display: inline-block; background: rgba(175,175,175,1); width: 100%; height: 100%; border-radius: 40px;} 

    footer{width: 100%; margin: auto; height: 200px; background: #181818; color: #ccc; text-align: center;}
    .footertxt p{font-size: 0.9em; font-weight: 400; padding-top: 80px;}

    .upbutton{position: fixed; bottom: 30px; right: 30px;}
    .upbutton a{display: block; width: 60px; height: 60px; background: rgba(100,100,100,.8); border-radius: 50%; font-weight: bold; color: #000; display: flex; justify-content: center; align-items: center; padding: 0; margin: 0;}
    .upbutton a svg{width: 30px; height: auto;}

    .contactbox{position: fixed; top: 100px; left: 50%; transform: translateX(-50%); width: 100%; height: auto; background: #0c0c0c; color: #fff; border: 2px solid #818181; border-radius: 30px; padding: 30px; display: none;}
    .contacttxt h2{font-size: 1em; font-weight: 300;}
    .contacttxt h1{font-size: 1.5em; font-weight: 500;}
    .contacttxt p{padding-top: 30px; font-size: 1em; font-weight: 300;}
    .contacttxt span{display: block; font-size: 1em; font-weight: 300; padding-top: 5px;}

}

    @media screen and (max-width: 799px) {
    .project {
        height: 1250px !important;
    }
    }

    @media screen and (max-width: 700px) {
    .project {
        height: 1180px !important;
    }
    }

    @media screen and (max-width: 600px) {
    .project {
        height: 1100px !important;
    }
    }
    
    @media screen and (max-width: 550px) {
    .project {
        height: 1050px !important;
    }
    }

    @media screen and (max-width: 500px) {
    .project {
        height: 1000px !important;
    }
    .swiper li{width: 70%; height: 500px;}
    }

    @media screen and (max-width: 450px) {
    .project {
        height: 980px !important;
    }
    }

    @media screen and (max-width: 400px) {
    .project {
        height: 930px !important;
    }
    }

    @media screen and (max-width: 350px) {
    .project {
        height: 880px !important;
    }
    }